.loginsignup-cont{
  background-image: url("../../../Assets/Images/CallSheet/Mainpage_BG.png");
  /* width: 100vw; */
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

.loginsignup-cont .flex-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* padding-bottom: 9%;
    padding-top: 8%; */
    /* width: 100%; */
    box-sizing: border-box;
 
}  
.loginsignup-cont .flex-container .content{
    /* width: 50%;
    margin-left:-25%; */
    color: #E1E1E1;
    box-sizing: border-box;
} 
.loginsignup-cont .flex-container .content h2{
    font-size: 4rem;
    font-weight: 400;
}
.loginsignup-cont .flex-container .content .para{
    font-size: 1.2rem;
    font-weight: 50;
    line-height: 150%;
    /* margin-top: -6%; */
    /* padding-right: 10%; */
}
.loginsignup-cont .flex-container .login-signup{
    /* width: 10%; */
    box-sizing: border-box;
    /* margin-left: -25%; */
}
.loginsignup-cont .flex-container .login-signup .login .login-btn{
    /* width: 250%; */
    /* padding: 12%; */
    font-size: 1.4rem;
    font-weight: 600;
    border-radius:0.7rem;
    border: none;
    /* margin-top: 20%; */
    background:linear-gradient(180deg, #CFDBEA 0%, #E0E5EE 100%);
   
}
.loginsignup-cont .flex-container .login-signup .signup .signup-btn{
    /* width: 250%; */
    /* padding: 12%; */
    font-size: 1.4rem;
    font-weight: 600;
    border-radius:0.7rem;
    border: none;
    /* margin-top: 30%; */
    /* background:linear-gradient(180deg, #CFDBEA 0%, #E0E5EE 100%); */
    background: #414444F2;
    color: #FDFDFD;

   
}
/* @media screen and (max-width:768px){
    .loginsignup-cont{
        height: 100vh !important;
        overflow: hidden;
    }
    .loginsignup-cont .flex-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .loginsignup-cont .flex-container .content{
        width: 100%;
        margin-left: 2%;
        padding: 1%;
    }
    .loginsignup-cont .flex-container .content h2{
        text-align: center;
    }
    .loginsignup-cont .flex-container .content .para{
        padding-right: 0%;
        padding-right: 3%;
        text-align: justify;
    }
    .loginsignup-cont .flex-container .login-signup{
        width: 100%;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }
    .loginsignup-cont .flex-container .login-signup .login{
        width: 100%;
        margin-left: 20%;
    }
    .loginsignup-cont .flex-container .login-signup .login .login-btn{
        width: 80%;
        padding: 2%;
        margin-top: 1%;
    }
    .loginsignup-cont .flex-container .login-signup .signup {
        width: 100%;
        margin-left: 20%;
        margin-top: 3%;
    }
    .loginsignup-cont .flex-container .login-signup .signup .signup-btn{
        width: 80%;
        padding: 2%;
        margin-top: 1%;
    }
} */