.login-main-cont{
    background-image: url("../../../Assets/Images/LoginOtpBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.login-center-cont{
    background: linear-gradient(172.78deg, #C7D7E8 24.32%, #EAEBF0 100.34%);
    /* border-radius: 1rem ; */
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2%;
   

}
.login-center-cont  .login-header{  
    align-self: flex-start;    
}
.login-center-cont .otp-text{
    font-weight: 500;
    font-size: 1rem;
    width: 80%;
    text-align: left;
    font-weight: 550;
    line-height: 1.5;
    margin-left: -3rem;
    display: flex; 
   color: #2B2B2B73 ;

}
.login-center-cont .otp-text .mbl-icon{
    font-size: 1.5rem;
    color: black;
}
.login-center-cont input[type='text']{
    width:17rem !important;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 2px 0px rgb(187, 187, 187);
    font-size: 1.5rem;
    padding: 0.4rem;
    margin-top: -2rem;
    margin-bottom: 1.3rem;
    background: linear-gradient(172.78deg, #C7D7E8 24.32%, #EAEBF0 100.34%);

}
.login-center-cont .confirm-btn{
  
}
@media screen and (max-width:768px){
    .login-main-cont{
        height: 100vh;
        flex: 0 1 auto;
    }
    .login-center-cont  .login-header{
        align-self: center;
    }


    /* .login-center-cont input[type='text']{
        width:3rem !important;
        height: 3rem;
        border: none;
        border-radius: 0.4rem;
        box-shadow: 0px 0px 2px 0px rgb(187, 187, 187);
        font-size: 1.5rem;

    } */
    .otp-numpad{
        flex:1 1 auto;
        

    }
    .login-center-cont .continue-btn{
        width: 16rem !important;
        align-self: center;
        text-align: center;
        padding: 4%;
    }
}