.schedule-list-main-cont{
    background-color:white;
    width: 95%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0.5rem;

    
}

.schedule{
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    position: relative;
    z-index: 1;
   
}


.schedule-time-cont{
    width: max-content;
    font-size: 1rem;
    font-weight: 500;
    background-color:white;
    padding: 1%;
    z-index: 2;

    

}

.schedule-time-cont .schedule-start-time{
    color :black;
}

.schedule-title{
    margin-top: -6%;
    margin-left: 0;
    padding-top: 5%;
    border-top: 1px solid black;
    position: relative;
    z-index: 1;
    flex: auto;

}

.schedule-title p{
    max-width: 96%;
    width: max-content;
    text-align: end;
    margin-left: auto;
    background-color: #7C99C5A3;
    border-radius: 0.5rem;
    padding:2%;
    color: white;
    cursor: pointer;
}

.schedule-title p:hover{
    background-color: #6bd4dc;

}

.add-schedule-cont{
    position: absolute;
    bottom: 5%;
    left: 77.5%;
    transform: translate(-50%,0);
    background-color:#6bd4dc;
    color: white;
    box-shadow: 0px 2px 13px 0px #0000002E;
    border-radius: 1rem;
    padding:0.05% 5%;
    width: max-content;
    margin-top: 10%;
    cursor: pointer;

   
    
}

.add-schedule-cont:hover{
    background-color:#67c8f98c ;
}

.add-schedule-title{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 550;
    margin: 0;
    line-height: 0;
   
}




@media screen and (max-width:890px){
    .schedule-list-main-cont{
        width: auto;
        height: max-content !important;
        overflow-y: scroll;
        background: none;
        padding-bottom: 20%;
        
        
        
    }
    .schedule-time-cont{
       
        background-color:aliceblue;
       
        
    
    }
    
    .add-schedule-cont{

        width:max-content;
      

    }
  
    .add-schedule-cont{
      z-index: 1;
        bottom: 12%;
        left: 50%;
        transform: translate(-50%,0);
    }

    
}


@media screen and (min-width:767px) and (max-width:890px){

   .add-schedule-cont{
    bottom: 15%;
   }
    .schedule-title{
        margin-top: -4%;
        padding-top: 2%;
    }

    
}