.schedules-main-cont{
    display: flex;
    width: 100%;
    height: 94vh;
   
}

.schedules-main-left-cont{
    width: 50%;
   
}

.schedules-cont{
    width: 50%;
}

.schedules-banner-cont{
    padding:8% 5% 5% 5%;
    width: 88%;
    margin-left: 1%;
    background:linear-gradient(#15151570,#15151570), url("../../Assets/Images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:0 0 2rem 2rem;
    box-shadow: 0px 0px 4px 0px gray;
    display: flex;
    flex-direction: column;
    color:white;
}

.schedules-banner-cont h2,.schedules-banner-cont p{
    
    justify-self:flex-end;
    line-height: 1;
    margin-bottom: 0;
}

.schedules-banner-cont p{
    font-weight: 550;
}


.schedules-calender-main-cont{
    width: 100%;
    
}
.schedules-calender-header{
    display: flex;
    justify-content: space-between;
    width: 95%;
    align-items: center;
    margin-left: 2.5%;
}

.schedules-calender-cont-date{
    font-size: 1.5rem;
    font-weight: 550;
   
}

.schedules-calender-filter-cont{
    display: inline-block;
  
    
    position: relative;
    width: 50%;
    text-align: end;
   
    
}
.schedules-calender-filter-cont span{
    
    margin-right: 5%;
    display: inline-block;
    vertical-align: middle !important;
    font-weight: bold;
    font-size: 0.8rem;
}
.schedules-calender-filter-icon{
    vertical-align: middle;
    font-size: 1.5rem;
    
}




.schedules-calender-filter-options{
    display: none;
    position: absolute;
   
    color:black;
    background-color: white;
    box-shadow: 0px 0px 5px 0px gray;
    font-size: 0.8rem;
    font-weight: 550;
    line-height: 0;
    width:40%;
    text-align: center;
    right: 0%;
    border-radius: 0.2rem;
    z-index: 100;

}

.schedules-calender-filter-option{
    
    width: 100%;
    padding: 15% 0;
    cursor: pointer;
    margin: 0 !important;
   
}
.schedules-calender-filter-option:hover{
    color:#50CED7;
    background-color: #50ced73f;
   
    width: 100%;
}
.schedules-calender-filter-cont:hover .schedules-calender-filter-options{
    display: block;
}

.schedules-calender-filter-icon:hover{
    color:#50CED7;
    cursor: pointer;

}

.schedules-banner-mob{
    display: none;
}
.schedules-calender-header .date-icon-at-bar{
    display: none;
}



@media screen and (max-width:890px){

    .schedules-main-cont{
        flex-direction: column;
        height: 100vh;  
        width: auto;
        overflow: hidden;
       
    }
    .schedules-banner-mob{
        position: relative;
     
        width: 90%;
        padding:2% 5%;
        display: block;
        background:linear-gradient(#15151538,#00000070), url("../../Assets/Images/logo.jpg");
        border-radius: 0 0 2rem 2rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
       

    }

    .schedules-banner-mob h2,.schedules-banner-mob p{
        color:white;
        line-height: 1.2;
        font-weight: 500;
        letter-spacing: 2px;
        margin: 0;
    }

    .schedules-banner-mob p{
        margin-top: 2%;
        color:rgb(205, 205, 205);
    }
    .bell-and-profile-mob{
        margin-top: 5%;
        display: flex;
       
        
    }
  
    .search-icon-at-bar{
        font-size: 6vw !important;
    }

   
    .schedules-main-left-cont{   
        width: 100%;

    }
    .schedules-banner-cont{
        position: fixed;
        top:-5%;
        width: 100%;
        background:linear-gradient(#15151538,#00000070), url("../../Assets/Images/logo.jpg");
        background-position: ;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        font-size: 4vw;
        z-index: 10;
        position: relative;
        box-shadow: none;
        display: none;
       
    }
    .schedules-calender-header{
        margin-top: 2.5%;
        align-items: center;
        line-height: 0;
        
        
    
    }
    .schedules-calender-cont-date{
        color: #000;
        font-size: 1.2rem;
    }

    .schedules-calender-header .date-icon-at-bar{
        margin-left: auto;
    }

    .schedules-calender-filter-cont{
        width: 30%;

    }

    .schedules-calender-filter-icon{
        color: rgb(180, 180, 180);
        font-size: 6vw;
    }
  
    .schedules-cont{
        width: 100%;
        flex:auto;
        overflow-y: scroll;
    }
    .schedules-calender-filter-options{
        width: 80%;
    }
    .schedules-calander-filter{
       
        max-width: 12rem;
        width:auto; 
      
        
    }
    .schedules-calender-filter-cont span{
      
        font-weight: 500;
       
    }
    
}


@media screen and (min-width:767px) and (max-width:890px){
    .schedules-banner-cont{
        margin-top: -5%;
    }
    .schedules-calender-header{
        margin-top: 10%;
        display: flex;
        
    }
    .schedules-calender-filter-cont{
        display: inline-block;
        width:max-content;


    }
    .schedules-calander-filter{
        display: flex;
        width: 12rem; 
        justify-content: space-around;
        align-items: center;
    }
    .schedules-calender-filter-cont span{
        font-size: 1.5rem;
        font-weight: 500;
       
    }
    .schedules-calender-filter-icon{
        font-size: 2.5rem;
    }

    
}