.schedule-list-main-cont{
    background-color:white;
    width: 95%;
    padding:2%;
    margin-left: auto;
    margin-right: auto;
    height: 95%;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 0.5rem;

    
}

.schedule{
    display: flex;
    margin-top: 2%;
   
}


.schedule-time{
    width: 15%;
    font-size: 1.2rem;
    font-weight: 550;

}

.schedule-title{
    margin-top: 2%;
    width: 80%;
    border-top: 2px solid black;
}

.schedule-title p{
    background-color: #7C99C5A3;
    border-radius: 0.5rem;
    padding: 5%;
}

.add-schedule-cont{
    background: #D7F1FE8C;
    box-shadow: 0px 2px 13px 0px #0000002E;
    border-radius: 1rem;
    padding:2% 5%;
    width: 30%;
    margin-top: 10%;
    cursor: pointer;
   
    
}

.add-schedule-cont:hover{
    background-color:#67c8f98c ;
}

.add-schedule-title{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 550;
    margin: 0;
    line-height: 0;
   
}

.add-schedule-text{
    margin: 0;
    font-size: 0.6rem;
    color:gray
}


@media screen and (max-width:890px){
    .schedule-list-main-cont{
        width: auto;
        height: max-content !important;
        overflow-y: scroll;
        background: none;
        height:30% !important;
        padding-bottom: 20%;
       
       
      
    }
    .add-schedule-cont{
        width:40%;
    }

    
}