.schedules-main-cont{
    display: flex;
    width: 100%;
    height: 94vh;
   
}

.schedules-main-left-cont{
    width: 50%;
   
}

.schedules-cont{
    width: 50%;
}

.schedules-banner-cont{
    padding:15% 5% 5% 5%;
    width: 88%;
    margin-left: 1%;
    background:linear-gradient(#15151570,#15151570), url("../../Assets/Images/logo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    border-radius:0 0 2rem 2rem;
    box-shadow: 0px 0px 4px 0px gray;
    display: flex;
    flex-direction: column;
    color:white;
}

.schedules-banner-cont h2,.schedules-banner-cont p{
    
    justify-self:flex-end;
    line-height: 1;
    margin-bottom: 0;
}

.schedules-banner-cont p{
    font-weight: 550;
}


.schedules-calender-main-cont{
    width: 100%;
    
}
.schedules-calender-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

.schedules-calender-cont-date{
    font-size: 1.5rem;
    font-weight: 550;
   
}

.schedules-calender-filter-cont{
    display: inline-block;
    position: relative;
    width: 50%;
    text-align: end;
    

    

}




.schedules-calender-filter-options{
    display: none;
    position: absolute;
   
    color:black;
    background-color: white;
    box-shadow: 0px 0px 5px 0px gray;
    font-size: 0.8rem;
    font-weight: 550;
    line-height: 0;
    width:40%;
    text-align: center;
    right: 0%;
    border-radius: 0.2rem;

}

.schedules-calender-filter-option{
    
    width: 100%;
    padding: 15% 0;
    cursor: pointer;
    margin: 0 !important;
   
}
.schedules-calender-filter-option:hover{
    color:#50CED7;
    background-color: #50ced73f;
   
    width: 100%;
}
.schedules-calender-filter-cont:hover .schedules-calender-filter-options{
    display: block;
}

.schedules-calender-filter-icon:hover{
    color:#50CED7;
    cursor: pointer;

}




@media screen and (max-width:890px){

    .schedules-main-cont{
        flex-direction: column;
        width: auto;
        overflow: hidden;
       
    }
    .schedules-main-left-cont{
        margin-top: 5%;
        width: 100%;
    }
    .schedules-banner-cont{
        background: none;
        padding:5%;
        font-size: 4vw;
        z-index: 10;
        position: relative;
        box-shadow: none;
    }
    .schedules-calender-header{
        margin-top: 15%;
        line-height: 0;
    }

    .schedules-calender-filter-icon{
        font-size: 6vw;
    }
  
    .schedules-cont{
        width: 100%;
        flex:auto;
        overflow-y: scroll;
    }
    
}
