.registration-main-cont{
    height: 100vh;
    display: flex;
    overflow: hidden;
  
}
.registration-main-cont .registration-image{
    flex: 0.5;
    background-image: url('../../../Assets/Images/Registration/RegistrationBg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.registration-main-cont .registration-details{
    display: flex;
    flex-direction: column;
    flex: 0.5;
    align-items: center;
    padding: 2% 10% 0 0 ;
}
.registration-main-cont .registration-details .input{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 5% 0%;
   
}
.registration-main-cont .registration-details .input input[type='text']{
    width:20rem !important;
    height: 2.2rem;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    font-weight: 600;
    color: #828890;
    padding: 2%;


}
.registration-main-cont .registration-details .input input[type='date']{
    width:20rem !important;
    height: 2.2rem;
    border: none;
    border-bottom: 2px solid black;
    font-size: 1rem;
    font-weight: 600;
    color: #828890;

}
.registration-main-cont .registration-details .input .icon{
    font-size: 2rem;
}
.registration-main-cont .registration-details .continue-btn{
    padding: 4% 43%;
}