.mainpage-main-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background: linear-gradient(black 5%,white 5%);
    overflow: hidden;
}

.mainpage-center-container{

    width: 100%;
    max-width: 100rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #ECEEED;
}

.header-bar{
    max-width: 100%;
    width: 100%;
}


.header-and-outlet-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}
.outlet-container{
    width: 100%;
    
}


@media screen and (max-width:890px){
    .mainpage-center-container{
        flex-direction: column-reverse;
        background: aliceblue;
    }
    .header-bar{
        display: none;
    }
    
}