:root {  
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  font-family:'Roboto', sans-serif;
=======
  font-family: 'Roboto', sans-serif;
>>>>>>> 5699fa08a0a057e12778fbb6750c90007f22c551
}
body {
<<<<<<< HEAD
  margin: 0;  
}
=======
  margin: 0;

  
}





>>>>>>> 5699fa08a0a057e12778fbb6750c90007f22c551
