.header-bar-main-container{ 
    display: flex;
    gap:2%;
    align-items: center;
    padding:1%;
    background-color: rgba(255, 255, 255, 0.644);
  
    
}

.search-bar-cont{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    padding: 0.75% 2%;
    box-shadow: 0px 0px 5px 0px rgb(195, 195, 195);
    width: 30%;
    gap:5%;
    margin-left: 5%;
    
    
  
    
    
}

.search-bar-cont input[type='search']{
    border: none;
    outline: none;
    font-size: 1.1rem;
    color:gray;
    width: 100%;
    
}
.search-bar-cont .search-icon-at-bar{
    color:gray ;
    
}

.header-date-icon-cont{
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.header-date-icon-cont input[type='date']{
    background-color: none;
    display:none;
}

.date-icon-at-bar{
        
        width: 1.2rem;
        height: 1.2rem;
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Cg fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='4'%3E%3Cpath stroke='%23000' d='M41.667 43.75H8.333a2.083 2.083 0 0 1-2.083-2.083V20.833h37.5v20.834a2.083 2.083 0 0 1-2.083 2.083M43.75 12.5a2.083 2.083 0 0 0-2.083-2.083H8.333A2.083 2.083 0 0 0 6.25 12.5v8.333h37.5z'/%3E%3Cpath stroke='%23344054' d='M33.333 6.25v8.333M16.667 6.25v8.333'/%3E%3C/g%3E%3C/svg%3E");
        background-color: currentColor;
        -webkit-mask-image: var(--svg);
        mask-image: var(--svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
      
        display: inline-block;
        z-index: 10;
        position: relative;
        z-index: 100;
        

   
}

.search-bar-cont input[type='search']::placeholder{
    font-size: 0.8rem;
    color:rgb(172, 172, 172);
    
}
#date-input {
    display: none;
   
}




.bell-icon-at-bar{
    font-size: 1.5rem;
    margin-left: auto;
  
  
}


.user-main-cont-at-bar{

    display: flex;
    align-items: center;
    height: 3rem;
    justify-content:end;
    width: 20%;
    gap:2%;
    margin-left: 2%;
  
}

.user-img-at-bar{

    width: 2.5rem;
    height: 2.5rem;
    box-shadow: 0px 0px 5px 0px gray;
    border-radius: 50%;
   
   
}

.user-details-cont{
    flex: 1;
}



.user-details-cont .user-name-at-bar{
   
    font-size: 0.8rem;
    font-weight: 550;
    color:#1B1B1B;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;        
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;     
    overflow: hidden;           
    text-overflow: ellipsis;  
   
   
    
}

.user-details-cont .artist-type{
   
    font-size: 0.8rem;
    font-weight: 500;
    color:#494545;
    
}



@media screen and (max-width:890px){
    .header-bar-main-container{
        background:linear-gradient(#15151570,#15151570), url("../../../Assets/Images/logo.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: fixed;
        width:90%;
        top:0;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 5%;
        border-radius:0 0 7% 7%;

    }

    .search-bar-cont{
        width: 100%;
        margin-left: 0;
        border-radius: 0.5rem;
        order:3;
        padding:1.5% 2%;
        margin-top: 25%;

    }
    .search-bar-cont input[type='search']{
        font-size: 5vw;
        
    }
    .search-bar-cont input[type='search']::placeholder{
        font-size: 4vw;
        
    }
    .search-icon-at-bar{
        font-size: 6vw !important;
    }
    .header-date-icon-cont{
        order: 4;
        border-radius: 25%;
        width: 9vw;
        height: 9vw;
        position: absolute;
        display: inline-block;
        
        top:106%;
        right:31% ;
        background-color: transparent;
        
        
       
    }
  
    .date-icon-at-bar{
        width: 7vw !important;
        height: 7vw !important;
        
        
        
    }

    .bell-icon-at-bar{
        font-size: 6vw;
        background-color: white;
        border-radius: 50%;
        padding: 2%;
        margin-right: 3%;
        

    }

    .user-main-cont-at-bar{
        margin-left: 0;
        width: max-content;
        height: auto;
        box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
        border-radius: 50%;
    }
    .user-img-at-bar{
        width: 14vw !important;
        height: 14vw;
       
    }
    .user-details-cont{
        display: none;
       
    }
    .user-img-at-bar{
        box-shadow: 0px 0px 5px 0px white;
    }
    
    
        
    


    


    
}

@media screen and (min-width:767px) and (max-width:890px){

    .search-icon-at-bar{
        font-size: 6vw;
    }
    .date-icon-at-bar{
        width: 6vw !important;
        height: 6vw;
    }
    
}



