.number-pad {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 2rem 2rem 0 0rem;
    
  }
  
  .key {
    flex: 1;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 550;

  }
  
  .key:hover {
    background-color: #9c9c9c;
  }
  
  .delete {
    background-color: #ffcccc;
  }
  

  @media screen and (max-width:890px){
    .number-pad{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 98vw;
        background: linear-gradient(177.49deg, #C7D7E8 22.95%, #EAEBF0 112.68%);

    }
    
  }