
  
  
  .number-pad {
    display: none;
    flex-wrap: wrap;
    gap: 10px;
    flex: 1;
    width: 100%;
    justify-content: space-between; 
    background: linear-gradient(177.49deg, #C7D7E8 22.95%, #EAEBF0 112.68%);
    border-radius: 2rem 2rem 0 0 ;
  }
  
  .key {
    flex: 0; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 8vw;
    color: black;
    font-weight: 550;

  }
  
  .key:hover {
    box-shadow: 0px 1px 5px 0px #00000040;
    border-radius: 2rem;
    background: #E3E7EC;

  }
  
 
  @media screen  and (max-width:890px){
    .number-pad{
   
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100vw;
        background: linear-gradient(177.49deg, #C7D7E8 22.95%, #EAEBF0 112.68%);
        min-height: 43vh !important;
    }
    
  }