.signup-otp-main-cont{
    background-image: url("../../../Assets/Images/SignupBg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.signup-otp-center-cont{
    background: linear-gradient(172.78deg, #C7D7E8 24.32%, #EAEBF0 100.34%);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2%;

}

.signup-otp-center-cont  .signup-header{
   
    align-self: flex-start;
    
    
}

.signup-otp-center-cont .otp-text{
    font-weight: 500;
    font-size: 0.8rem;
    width: 80%;
    text-align: center;
    font-weight: 550;
    line-height: 1.5; 

}

.signup-otp-center-cont input[type='text']{
    width:2.2rem !important;
    height: 2.2rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 2px 0px rgb(187, 187, 187);
    font-size: 1.5rem;


}


.signup-otp-center-cont .otp-time-expire{
    font-size: 0.8rem;
    font-weight: 600;
}

.otp-text-signup{
    font-size: 0.8rem;
    font-weight: 500;
}
.otp-text-signup span{
    font-weight: 600;
    color:blue;
    cursor: pointer;
}

.otp-text-signup span:hover{
    text-decoration: underline;
}

@media screen and (max-width:890px){
    .signup-otp-main-cont{
        height: 100vh;
        flex-direction: column;
        width: 100vw;
        background-size:100% 70%;
        background-position: top;
        background: url("../../../Assets/Images/mobile_view_bg_sign.png");
       
        
        

    }
    .signup-otp-center-cont{
        background: none;
        color:#F8F8F8;
        width: 90%;
        padding-left: 5%; 
        height: 60%;
    }
    .signup-header{
        font-size: 8vw !important;
    }


    .signup-otp-center-cont input[type='text']{
        width: 14vw !important;
        height: 14vw;
        max-width: 3rem;
        max-height: 3rem;
        border: none;
        border-radius: 0.4rem;
        box-shadow: 0px 0px 2px 0px rgb(187, 187, 187);
        font-size: 8vw;
        font-weight: 500;

    }

   

   
    

}


@media screen and (min-width:767px) and (max-width:890px){
    .signup-otp-main-cont{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
    .signup-otp-center-cont input[type='text']{
        font-size: 5vw;

    }

}


